.contentBox{
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.timeline{
     width: 1200px;
     position: relative;
}

.years label{
    background-color: green;
    padding: 5px 7px;
    border-radius: 10px;
    cursor: pointer;
}


.progress{
    margin-top: 8px;
    
}
.col label{
    position: absolute;
    top: 0;
}

.years .col{
    display: flex;
    justify-content: space-around;
}

#progressbar { transition: width 0.6s ease-in-out; } /* 1.2 s vừa mắt */

#content{
    height: 300px;
}